* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  display: inline-block;
  width: 250px;
  height: 40px;
  font-size: large;
  font-style: italic;
  border: 4px solid gray;
  background-color: rgb(224, 218, 218);
}

button[data-start] {
  display: inline-block;
  width: 70px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 40px;
  color: black;
}

.timer {
  display: flex;
  margin-top: 15px;
}

.field {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 40px;
}

.field:not(:last-child) {
  margin-right: 15px;
}

.value {
  font-size: larger;
}